<div class="container">

  <mat-card>
    <mat-card-content>
      <form class="cadpf-form">
        <mat-form-field>
          <input [required]="true" matInput placeholder="nome" [(ngModel)]="pessoaFisica.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
          <input [required]="true" matInput [mask]="mascaraCPF" placeholder="000.000.000-00" [(ngModel)]="pessoaFisica.cpf" name="cpf">
        </mat-form-field>


        <mat-form-field>
          <input [required]="true"  matInput [mask]="mascaraRG" placeholder="00.000.000-00" [(ngModel)]="pessoaFisica.rg" name="rg">
        </mat-form-field>

        <mat-form-field>
          <input [required]="true" type="date" matInput  [(ngModel)]="pessoaFisica.dataNascimento" name="datanascimento">
        </mat-form-field>


        <mat-form-field>
          <input [required]="true" matInput placeholder="Profissao" [(ngModel)]="pessoaFisica.profissao" name="profissao">
        </mat-form-field>        
        
        <button (click)="btnSalvar()" mat-raised-button color="primary" type="submit">Salvar</button>

      </form>
    </mat-card-content>
  </mat-card>

</div>
